QLabel#homeTitle {
	font-size: 30px;
	font-weight: 700;
}

QLabel#homeDescription {
	color: #a9abb3;
	font-size: 15px;
}

QWidget#page {
			background-color: #19191C;
			color: #f4f6fa;
}

QFrame#converterCard {
	background-color: #252528;
	border: 1px solid #292b2d;
	border-radius: 18px;
}

QLabel#section {
	font-size: 13px;
	font-weight: 600;
	color: #CFCFCF;
}

QLabel#status {
	font-size: 12px;
	color: #CFCFCF;
}

QLabel#status[invalid="true"] {
	color: #453B23;
}

QLineEdit {
	min-height: 22px;
	padding: 9px 11px;
	background-color: #303033;
	border: 1px solid #58585C;
	border-radius: 9px;
	font-size: 14px;
	color: #FFFFFF;
	selection-background-color: #5146EE;
}

QLineEdit:focus {
	padding: 8px 10px;
	border: 2px solid #5146EE;
}

QLineEdit[invalid="true"] {
	padding: 8px 10px;
	border: 2px solid #453B23;
}

QLineEdit[readOnly="true"] {
	background-color: #2B2B2B;
	color: #FFFFFF;
}

QPushButton {
	min-height: 24px;
	padding: 10px 14px;
	background-color: #5146EE;
	border: none;
	border-radius: 9px;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
}

QLabel#pictureTitle {
    font-size: 26px;
    font-weight: 700;
}

QLabel#pictureDescription {
    color: #a9abb3;
    font-size: 15px;
}

QLabel#picturePlaceholder {
    background-color: #202126;
    border: 1px dashed #484a55;
    border-radius: 12px;

    color: #858792;
    font-size: 15px;
}

QPushButton[modeButton="true"] {
	 min-height: 22px;
	 padding: 9px 12px;
	 background-color: #20242e;
	 border: 1px solid #3a4050;
	 border-radius: 7px;
	 color: #aeb5c5;
}

QPushButton[modeButton="true"]:hover {
	 background-color: #292e3a;
	 border-color: #585f73;
}

QPushButton[modeButton="true"]:checked {
	 background-color: #5b4df5;
	 border-color: #7569ff;
	 color: #ffffff;
}

QPushButton[toolOption="true"] {
	min-height: 90px;
	padding: 18px 22px;

	background-color: #20242e;
	border: 1px solid #3a4050;
	border-radius: 12px;

	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
}

QPushButton[toolOption="true"]:hover {
	background-color: #4338ca;
	border-color: #6657ff;
}

QPushButton[toolOption="true"]:pressed {
	background-color: #3730a3;
}

QPushButton[toolOption="true"]:disabled {
	background-color: #1F242F;
	border-color: #303139;
	color: #777982;
}

QPushButton:hover {
	background-color: #4338ca;
}

QPushButton:pressed {
	background-color: #3730a3;
}

QPushButton:disabled {
	background-color: #1F242F;
	color: #777982;
}

QPushButton#backButton {
    padding: 8px 14px;

    background-color: transparent;
    border: 1px solid #3a3b43;
    border-radius: 8px;

    color: #d7d7dc;
    font-weight: 600;
}

QPushButton#backButton:hover {
    background-color: #292a31;
    border-color: #6657ff;
}

QPushButton#backButton:pressed {
    background-color: #343540;
}